<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 	 	 	 	 	 	http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--放行资源-->
    <http pattern="/*.html" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <!--注册访问后台路径放行-->
    <http pattern="/seller/register.do" security="none"/>
    <!--定义拦截规则-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <!--开启表单认证登陆-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
                    always-use-default-target="true" authentication-failure-url="/shoplogin.html"/>
        <!--关闭CSRF跨站点伪造访问防护-->
        <csrf disabled="true"/>
        <!--HTML框架可信任-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <!--登出URL-->
        <logout logout-success-url="/shoplogin.html"/>
    </http>

    <!--BCrypt加密类-->
    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--认证管理中心-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <!--自定义认证类配置-->
            <!--使用BCrypt加密算法后的配置-->
            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <!-- 引用 dubbo 服务 -->
    <dubbo:application name="pinyougou-shop-web"/>
    <dubbo:registry address="zookeeper://192.168.25.130:2181"/>
    <dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService"/>
    <!--配置自定义认证类,并注入服务层Java类-->
    <beans:bean id="userDetailService" class="com.pinyougou.service.UserDetailsServiceImpl">
        <beans:property name="sellerService" ref="sellerService"/><!--依赖注入-->
    </beans:bean>


</beans:beans>